body{
    background:#0b2c52;
    font-family:Arial, sans-serif;
}
.container{
    width:800px;
    margin:50px auto;
    display:flex;
    gap:20px;
}
.register,.login{
    width:50%;
    padding:20px;
    background:rgba(0,0,0,0.5);
    color:white;
    box-sizing:border-box;
}
.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.login input[type="email"],
.login input[type="password"]{
    width:100%;
    padding:8px;
    margin:8px 0;
    box-sizing:border-box;
}
button{
    width:100%;
    padding:10px;
    background:orange;
    border:none;
    color:white;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}
input[type="radio"],
input[type="checkbox"]{
    width:auto;
    margin-right:5px;
}
