.container{
width:100%;
margin:auto;
}
.a1{
height:120px;
background:#f4b37d;
}
.row{
display:flex;
}
.a2,.a3{
width:50%;
height:150px;
}
.a2{background:skyblue;}
.a3{background:lightgreen;}
.row2{
display:flex;
}
.a4,.a5,.a6{
width:33.33%;
height:100px;
}
.a4{background:salmon;}
.a5{background:khaki;}
.a6{background:plum;}